.hero {
    display: flex;
    background-color: black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 50vh;
    align-content: center;
    align-items: center;
    text-align: center;

    .hero__inner {
        margin: 0 auto;
        padding: $spacing;

        @include bp(md) {
            max-width: $grid-max-width;
            padding: $spacing *2 $spacing;
        }
    }

    .hero__title {
        font-size: 2rem;
        color: inherit;

        @include bp(md) {
            font-size: 3rem;
        }

        @include bp(lg) {
            font-size: 4rem;
        }
    }

    .hero__text {
        color: inherit;
        opacity: .9;

        p {
            font-size: 1rem;

            @include bp(md) {
                font-size: 1.2rem;
            }

            @include bp(lg) {
                font-size: 1.3rem;
            }
        }
    }

    &.hero--slim {
        padding: $spacing 0;
        text-align: left;
        min-height: 0;

        .hero__title {
            font-size: 1.5rem;
            text-shadow: none;
        }
    }

    &.hero--small {
        padding: $spacing 0;
        text-align: left;
        min-height: 20vh;

        .hero__title {
            font-size: 2rem;
            text-shadow: none;
        }
    }
}
