.slider {
    .slick-slider {
        padding: $spacing * 2 0;
    }
    .slick-track {}

    .slick-prev,
    .slick-next {}

    .slick-slide {
        text-align: center;

        &:focus {
            outline: none;
        }

        &.slick-current {}
    }
}
