.section.section--hero {
    @include section-spacing(3);
}

.hero {
    display: flex;
    color: c(white);
    background: $primary;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 50vh;
    align-content: center;
    align-items: center;
    text-align: center;

    &.hero--slim {
        padding: $spacing 0;
        text-align: left;
        min-height: 0;

        .hero__title {
            font-size: 1.5rem;
            text-shadow: none;
        }
    }

    &.hero--small {
        padding: $spacing 0;
        text-align: left;
        min-height: 20vh;

        .hero__title {
            font-size: 2rem;
            text-shadow: none;
        }
    }
}

.hero__inner {
    margin: 0 auto;
    padding: $spacing;

    @include bp(md) {
        max-width: $grid-max-width;
        padding: $spacing *2 $spacing;
    }
}

.hero__title {
    font-size: 2rem;
    color: inherit;
    font-weight: bold;
    margin-bottom: $spacing;

    @include bp(md) {
        font-size: 3rem;
    }

    @include bp(lg) {
        font-size: 4rem;
    }
}

.hero__text {
    color: inherit;
    opacity: .9;
    max-width: $grid-max-width / 2;

    p {
        font-size: 1.1rem;

        @include bp(md) {
            font-size: 1.2rem;
        }

        @include bp(lg) {
            font-size: 1.3rem;
        }
    }
}

.hero__btn {
    margin: $spacing auto;
}
