/*
---------------------------------------
Hero
---------------------------------------
*/

.section.section--hero {
    @include section-spacing(3);
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    background: linear-gradient( 135deg, $primary 0%, darken($primary, 20%) 100%);
}

.hero {
    display: flex;
    color: c(white);
    background: $primary;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-content: center;
    align-items: center;
    text-align: center;
}

.hero__inner {
    margin: 0 auto;
    padding: $spacing;

    @include bp(md) {
        max-width: $grid-max-width;
        padding: $spacing *2 $spacing;
    }
}

.hero__title {
    @include big;
    font-size: 2rem;
    color: inherit;
    font-weight: bold;
    margin-bottom: $spacing;
}

.hero__text {
    color: inherit;
    opacity: .9;
    max-width: $grid-max-width / 2;

    p {
        @include lead;
    }
}

.hero__btn {
    margin: $spacing auto;
}
