.section {
    @include section-spacing(3);
    position: relative;

    &.section--alternate {
        background: c(lightgrey);
    }

    &.section--angled {
        clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        background-image: linear-gradient( 135deg, $primary 0%, darken($primary, 10%) 100%);
    }

    &.section--animate {
        > * {
            opacity: 0;
            transform: translateY($spacing);
            transition: all 1s ease;
        }
    }

    &.section--animated {
        > * {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.section__headline {
    font-weight: bold;
    font-family: f(sans);
    color: c(black);
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin: 0 0 $spacing * 3;

    @include bp(md) {
        margin: 0 0 $spacing * 5;
    }

    ~ .section__subline,
    ~ .section__text {
        margin-top: $spacing * -2.5;
        @include bp(md) {
            margin-top: $spacing * -4.5;
        }
    }
}

.section__subline {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: .875rem;
    opacity: .8;
    margin: 0 auto;
    margin-bottom: $spacing * 3;

    @include bp(md) {
        margin-bottom: $spacing * 5;
    }

    ~ .section__text {
        margin-top: $spacing * -2.5;
        @include bp(md) {
            margin-top: $spacing * -4.5;
        }
    }
}

.section__text {
    text-align: center;
    max-width: $grid-max-width / 2;
    margin: 0 auto;
    margin-bottom: $spacing * 3;

    @include bp(md) {
        margin-bottom: $spacing * 5;
    }
}
