/**
 * Default Variables
 */

$grid-breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
) !default;

$grid-max-width: 1200px !default;

// Available grid size-classes
$grid-values: (5, 10, 15, 20, 25, 30, 33, 35, 40, 45, 50, 55, 60, 65, 66, 70, 75, 80, 85, 90, 95, 100) !default;

/**
 * Grid Mixins
 */
@mixin container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $grid-max-width;
    padding-left: $spacing;
    padding-right: $spacing;
}

@mixin flex-container {
    @include container;
    display: flex;
    flex-wrap: nowrap;
}

@mixin row {
    display: block;
    font-size: 0;
    margin: 0 $spacing / -2;
    padding: 0;
}

@mixin flex-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $spacing / -2;
    padding: 0;
    width: auto;
    flex: 1 1 100%;
}

@mixin col {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    padding: 0 $spacing / 2;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


@mixin generate-col($value) {
    @if $value == 33 {
        $value: 33.33334;
    } @else if $value == 66{
        $value: 66.66667;
    }
    width: 0% + $value;
    flex-basis: 0% + $value;
    max-width: 0% + $value;
}

/**
 * Container
 */

.col,
[class*=col-]{
    @include col;
}

.container {
    @include container;

    .row { @include row; }

    &:not(.container--flex){
        [class*=col-]{ flex: none; }
    }

    &--flex {
        @include flex-container;
        .row { @include flex-row; }
    }

    &--full {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}



// Generate col-{breakpoint}-{size} classes
@each $name, $size in $grid-breakpoints {
    @include bp($name) {
        @each $va in $grid-values {
            .col-#{$name}-#{$va} {
                @include generate-col($va);
            }
        }
    }
}
