/**
 * FORMS, INPUT ELEMENTS
 */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
.input,
textarea,.textarea{
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: .5em 1em;
    background: #fff;
    color: $black;
    border: .125em solid $grey;
    border-radius: $border-radius;
    transition: all $timing-short;
    font-family: $font-primary;
    @include font-size(.875rem);

    &:hover,
    &:active,
    &:focus,
    &:active:focus{
        outline: none;
        border-color: $primary;
        color: $primary;
    }

    &.input--inline{
        display: inline-block;
        width: auto;
    }
}


label, .label{
    display: block;
    @include font-size(.875rem);

    // Inline description for the label
    span.desc{
        display: inline-block;
        margin-left: $grid-vertical;
    }

    // Required asterik
    span.req{
        font-weight: bold;
        color: $red;
        text-transform: none;
        font-size: 1.1em;
    }
}

// Description that go along with the label
.desc{
    display: block;
    margin-top: $grid-vertical;
    @include font-size(.75rem);
    @include rem('line-height', 1.25rem);
    color: rgba($black,.5);
}
