$tabs-border: 1px;

.tabs{
    border-bottom: $tabs-border solid $grey;

    > li{
        display: inline-block;
        margin-bottom: -$tabs-border;

        a{
            display: block;
            padding: 1em;
            border: 1px solid transparent;
            border-bottom-width: 0;
        }

        &.tab--active{
            background: $white;
            a{
                border: 1px solid $grey;
                border-bottom-width: 0;
            }
        }
    }
}
