/*
---------------------------------------
Footer
---------------------------------------
*/

.footer {
    display: block;
    font-size: .875rem;
    line-height: 1.7;
    padding: $spacing * 2 0;
    background: c(black);
    color: c(grey);
    border-top: 1px solid c(darkgrey);

    a {
        color: inherit;

        &:hover,
        &:active,
        &:focus {
            color: c(white);
        }
    }
}

.footer__copyright {
    @include col;
    text-align: center;
    order: 2;
    font-size: .875rem;

    @include bp(sm) {
        @include generate-col(50);
        text-align:left;
        order: 1;
    }
}

.footer__links {
    @include col;
    margin: 0;
    list-style: none;
    text-align: center;
    order: 1;
    font-size: .875rem;

    @include bp(sm) {
        @include generate-col(50);
        text-align:right;
        order: 2;
    }

    > li {
        display: inline-block;
        padding: 0 1em;
    }
}
