/*
---------------------------------------
Main
---------------------------------------
*/

.main {
    position: relative;
    display: block;
}

.main-wrapper {
    position: relative;
    transition: transform t(short);
}

.skip-link {
    @include btn;
}

.back-to-top {
    position: fixed;
    bottom: $spacing;
    right: $spacing;
    padding: $spacing / 2;
    width: $spacing * 2.5;
    height: $spacing * 2.5;
    text-align: center;
    font-size: 1rem;
    line-height: 1.3;
    color: c(white);
    background: $primary;
    z-index: z(back-to-top);
    border-radius: 50%;

    &::before {
        @include icon('\f102');
    }

    &:focus,
    &:hover {
        background: darken($primary, 5%);
        color: c(white);
        cursor: pointer;
    }
}
