.skip-link {
    @include btn;
}

.back-to-top {
    position: fixed;
    bottom: $spacing;
    right: $spacing;
    padding: $spacing / 2;
    width: $spacing * 2.5;
    height: $spacing * 2.5;
    text-align: center;
    font-size: 1rem;
    color: c(white);
    background: rgba(c(black), .5);
    z-index: z(back-to-top);

    &:focus,
    &:hover {
        background: $primary;
        color: c(white);
        cursor: pointer;
    }
}

.main {
    position: relative;
    display: block;
}


/**
 * Use this class around every Rich-Text output
 */
.rte {

    a {
        color: $primary;
        text-decoration: none;

        &:focus,
        &:hover {
            border-bottom: 1px solid;
        }
    }
}
