/*
---------------------------------------
Sidepanel
---------------------------------------
*/

body {
    &.sidepanel-right--active,
    &.sidepanel-left--active {
        .main-wrapper {
            transform: translateX(-10rem);
        }

        .sidepanel {
            transform: translateX(0);
        }
    }
}

.sidepanel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: z(sidepanel);
    height: 100vh;
    width: 20rem;
    max-width: 100%;
    background: c(lightgrey);
    transition: all t(short);

    &.sidepanel--right {
        left: auto;
        transform: translateX(100%);
        border-left: 1px solid c(grey);
    }

    &.sidepanel--left {
        right: auto;
        transform: translateX(-100%);
        border-right: 1px solid c(grey);
    }
}

.sidepanel__inner {
    padding: $spacing;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
