/*
|--------------------------------------------------------------------------
| VARIABLES & CONFIG
|--------------------------------------------------------------------------
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/**
 * FONT-FAMILY
 */
$font-primary: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-secondary: 'Playfair Display', 'Times New Roman', Georgia, serif;
$font-icon: 'FontAwesome';

/**
 * COLORS
 */
$black: #333;
$white: #fefefe;
$grey: #999;

$red: #b23236;
$blue: #2f77d1;
$green: #0a8754;
$orange: #FFC144;

$primary: $blue;
$secondary: $orange;

/**
 * TIMING/EASING VARS
 */
$timing-short: .5s ease;
$timing-long: 2s ease;

$border-radius: 3px;

/**
 * BREAKPOINTS
 */
$breakpoints: (
  'xs': 20em,
  'sm': 35.5em,
  'md': 48em,
  'lg': 64em,
  'xl': 80em
);

/**
 * GRID
 */
$grid-padding: 10px;
$grid-vertical: .5rem;
