/*
|--------------------------------------------------------------------------
| TYPOGRAPHY
|--------------------------------------------------------------------------
*/

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: $font-primary;
    margin: 0 0 1rem 0;
    a{ color: inherit; }
}

h1,.h1{
    @include font-size(1.5rem);
    @include bp(md) {
        @include font-size(2rem);
    }
}

p,.p{
    margin: 0 0 1rem 0;
    font-size: 1em;
    line-height: 1.6;
}
small{
    font-size: .9em;
}

ul{
    margin: 0 0 1rem 0;

    li{}
}
