/*
---------------------------------------
Functions
---------------------------------------
*/


@function ends-with($string, $find) {
    @if (str-slice($string, (str-length($string) - str-length($find) + 1)) == $find) {
        @return true;
    } @else {
        @return false;
    }
}

@function get-from($map, $key){
    @if map-has-key($map, $key) {
        @return map-get($map, $key);
    }
    @warn "Unknown `#{$key}` in #{$map}.";
    @return null;
}

@function color($key) {
    @return get-from($colors, $key);
}

@function font-family($key) {
    @return get-from($fonts, $key);
}

@function z-index($key) {
    @return get-from($z-layers, $key);
}

@function timing($key) {
    @return get-from($timings, $key);
}


// Shorthands
@function c($key) {
    @return color($key);
}

@function z($key) {
    @return z-index($key);
}

@function f($key) {
    @return font-family($key);
}

@function t($key) {
    @return timing($key);
}


@mixin section-spacing($modifier:1) {
    $spacing: $modifier * $spacing;
    padding: $spacing 0;
    @include bp(sm) { padding: $spacing * 1.5 0;}
    @include bp(md) { padding: $spacing * 2 0;}
    @include bp(lg) { padding: $spacing * 2.5 0;}
    @include bp(xl) { padding: $spacing * 3 0;}
}
