/*
---------------------------------------
Variables
---------------------------------------

Defining variables for the whole project.
Grid-settings, spacings, colors, font-families and more.

*/

/**
 * Font Families
 * Use with mixin: font-family(sans) or f(sans);
 */
$fonts: (
    sans: #{'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif},
    serif: #{Georgia, 'Times New Roman', sans-serif},
    mono: monospace,
    icon: 'FontAwesome',
);

/**
 * Color Palett
 * Use with mixin: color(black) or c(black);
 */
$colors : (
    transparent: rgba(black, 0),

    black: #111,
    white: #fff,

    lightgrey: #ddd,
    grey: #999,
    darkgrey: #333,

    red: #b23236,
    blue: #0a98e0,
    green: #2db1b9,
    yellow: #d3b628,
);

$primary: c(blue);
$secondary: lighten( c(blue), 10%);

/**
 * z-index
 * Use with mixin: z-index(default) or z(default);
 */
$z-layers: (
    bottomless-pit: -9999,
    default: 1,
    header: 10,
    dropdown: 20,
    back-to-top: 30,
);

/**
 * timings
 * Use with mixin: timing(short) or t(short)
 */
$timings: (
    short: .5s ease,
    long: 2s ease
);

$spacing: 1rem !default;
$border-radius: 10px;
