/*
---------------------------------------
Variables
---------------------------------------

Defining variables for the whole project.
Grid-settings, spacings, colors, font-families and more.

*/

/**
 * Font Families
 * Use with mixin: font-family(sans) or f(sans);
 */
$fonts: (
    sans: #{-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"},
    serif: #{'Lora', Georgia, 'Times New Roman', sans-serif},
    mono: #{"SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace},
    icon: 'FontAwesome',
);

/**
 * Color Palett
 * Use with mixin: color(black) or c(black);
 */
$colors : (
    transparent: rgba(black, 0),

    black: #111,
    white: #fff,

    lightgrey: #f8f8f8,
    grey: #bdbdbd,
    darkgrey: #424242,

    red: #e91e63,
    blue: #03a9f4,
    green: #8bc34a,
    yellow: #ffc107,
    orange: #ff9800,
);

$primary: c(blue);
$secondary: color(orange);

/**
 * z-index
 * Use with mixin: z-index(default) or z(default);
 */
$z-layers: (
    bottomless-pit: -9999,
    default: 1,
    header: 10,
    dropdown: 20,
    back-to-top: 30,
    overlay: 40,
);

/**
 * timings
 * Use with mixin: timing(short) or t(short)
 */
$timings: (
    quick: .2s ease,
    short: .5s ease,
    long: 2s ease
);

$spacing: 1rem !default;
$border-radius: 5px;
