.badge {
    display: inline-block;
    vertical-align: middle;
    margin: auto .2em;
    line-height: 1;
    padding: .4em .5em .4em;
    font-size: .875rem;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background: c(grey);
    color: c(white);

    &.badge--primary {
        background: $primary;
        color: c(white);
    }

    &.badge--secondary {
        background: $secondary;
        color: c(white);
    }

    &.badge--alert {
        background: c(red);
        color: c(white);
    }

    &.badge--success {
        background: c(green);
        color: c(white);
    }
}
