/*
---------------------------------------
Blackout

General blackout class
for overlay or sidepanels

---------------------------------------
*/

.blackout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(c(black), .7);
    z-index: z(blackout);

    &.blackout--active {
        display: block;
        opacity: 1;
    }
}
