/*
---------------------------------------
Basic Buttons
---------------------------------------
*/

@mixin btn {
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    vertical-align: middle;

    font-family: f(sans);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-align: center;

    border: 0;
    border-radius: $border-radius;

    &.btn--hover,
    &.btn--focus,
    &:focus,
    &:hover{
        cursor: pointer;
        outline: none;
        background: c(white);
        color: c(black);
    }

    &.btn--active,
    &:active {
        box-shadow: none;
    }
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.btn {
    @include btn;
}

.btn--primary {
    background: $primary;
    color: white;

    &:focus,
    &:hover,
    &:active {
        border-color: lighten($primary, 10%);
        background: lighten($primary, 10%);
    }
}
