/*
---------------------------------------
Basic Buttons
---------------------------------------
*/

@mixin btn {
    display: inline-block;
    margin: 0 $spacing / 2 $spacing / 2 0;
    padding: $spacing $spacing * 3;
    -webkit-appearance: none;
    vertical-align: middle;

    font-family: f(sans);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: .5pt;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    border: 0;
    border-radius: $border-radius;
    background: c(grey);
    color: c(white);

    &.btn--hover,
    &.btn--focus,
    &:focus,
    &:hover{
        cursor: pointer;
        outline: none;
        background: lighten(c(grey), 5%);
        color: c(white);
    }

    &.btn--active,
    &:active {
        box-shadow: none;
        transform: translateY(3px);
    }

    &[disabled] {
        opacity: .8;
        background: c(grey) !important;
        cursor: not-allowed;
    }
}

.btn {
    @include btn;
}

.btn--primary {
    background: $primary;
    color: c(white);

    &:focus,
    &:hover,
    &:active {
        color: c(white);
        border-color: lighten($primary, 10%);
        background: lighten($primary, 10%);
    }
}

.btn--secondary {
    background: $secondary;
    color: c(white);

    &:focus,
    &:hover,
    &:active {
        color: c(white);
        border-color: lighten($secondary, 10%);
        background: lighten($secondary, 10%);
    }
}

.btn--small {
    font-size: .875rem;
    padding: $spacing * .8 $spacing * 1.2;
}

.btn--big {
    @include bp(md) {
        font-size: 1.5rem;
        padding: $spacing * 1.5 $spacing * 4;
    }
}

.btn--outline {
    background: none;
    border: 1px solid white;

    &:focus,
    &:hover,
    &:active {
        color: $primary;
        border-color: c(white);
        background: c(white);
    }
}
