/*
---------------------------------------
Forms and Input Elements
---------------------------------------
*/

.label {
    display: block;
    margin-top: 0;
    margin-bottom: $spacing;
}


.input {
    display: inline-block;
    margin-top: 0;
    margin-bottom: $spacing;
    padding: .7em .4em .6em;
    outline: none;
    vertical-align: top;
    color: c(black);
    background: c(white);
    border: 1px solid c(grey);

    &:hover {
        border-color: c(grey);
    }

    &:active,
    &:focus {
        border-color: $primary;
    }

    &.input--full {
        width: 100%;
    }
}


.select {
    display: inline-block;
    margin-top: 0;
    margin-bottom: $spacing;
    outline: none;
    vertical-align: top;
    color: c(black);
    background: c(white);
    border: 1px solid c(grey);

    &::after {
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        font-family: f(icon);
        content: '\f107';
        line-height: 1;
        pointer-events: none;
    }

    &:hover {
        border-color: c(grey);

        &::after {
            color: c(grey);
        }
    }

    &:active,
    &:focus {
        border-color: $primary;
    }

    select {
        display: block;
        position: relative;
        box-shadow: none;
        appearance: none;
        padding: .7em .4em .6em;
        padding-right: $spacing * 2;
        width: 100%;
        border: 0;
        border-radius: 0;
        background: c(transparent);

        &:focus {
            outline: c(transparent);
        }

        &:-moz-focusring {
            color: c(transparent);
            text-shadow: 0 0 0 #000;
        }
    }
}
