/*
---------------------------------------
Forms and Input Elements
---------------------------------------
*/

.label {
    display: block;
    margin-top: 0;
    margin-bottom: $spacing;
    font-weight: bold;

    input[type="checkbox"],
    input[type="radio"] {
        margin-right: $spacing / 2;
    }

    &.label--inline {
        display: inline-block;
        margin-right: $spacing;
    }

    &.label--error {
        color: c(red);
    }
}


.input {
    display: inline-block;
    margin-top: 0;
    margin-bottom: $spacing;
    padding: .8em 1em .7em;
    outline: none;
    vertical-align: top;
    color: c(black);
    background: c(white);
    border: 1px solid c(grey);
    transition: all .2s ease;

    &:hover {
        border-color: c(grey);
    }

    &:active,
    &:focus {
        border-color: c(darkgrey);
    }

    &.input--full {
        width: 100%;
    }

    &.input--error {
        border-color: c(red);
    }
}


.select {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: $spacing;
    margin-right: $spacing / 2;
    outline: none;
    vertical-align: top;
    color: c(black);
    background: c(white);
    border: 1px solid c(grey);
    transition: all .2s ease;

    &::after {
        @include icon('\f107');
        position: absolute;
        top: 50%;
        right: $spacing * .8;
        transform: translateY(-50%);
        line-height: 1;
        pointer-events: none;
        color: c(grey);
    }

    &:hover {
        border-color: c(darkgrey);

        &::after {
            color: c(black);
        }
    }

    &.select--active,
    &:active,
    &.select--focus,
    &:focus {
        border-color: $primary;
    }

    select {
        display: block;
        position: relative;
        box-shadow: none;
        appearance: none;
        padding: .7em $spacing .6em;
        padding-right: $spacing * 2;
        width: 100%;
        border: 0;
        border-radius: 0;
        background: c(transparent);

        &:focus {
            outline: none;
        }

        &:-moz-focusring {
            color: c(transparent);
            text-shadow: 0 0 0 #000;
        }
    }

    .select__label {
        display: inline-block;
        font-weight: bold;
        padding-left: $spacing;
        user-select: none;

        & + select {
            display: inline-block;
            width: auto;
        }
    }
}
