body.noscroll {
    overflow: hidden;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(c(black), .7);
    z-index: z(overlay);
    overflow-y: scroll;

    &.overlay--active {
       display: flex;
       justify-content: center;
    }
}

.overlay__inner {
    position: relative;
    flex: 1 1 100%;
    width: 100%;
    margin: auto;
    padding: $spacing;
    max-width: 600px;
    background: c(white);
}

.overlay__close {
    position: absolute;
    top: 0;
    right: 0;
    color: c(black);
    font-size: 1.4rem;
    padding: $spacing / 2;
    line-height: 1;

    &:before{
        font-family: f(icon);
        content: '\f057';
    }
}

.overlay__prev,
.overlay__next {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: auto;
    padding: $spacing;
    transition: all t(quick);
    color: c(white);

    &::after { font-family: f(icon); }

    &:hover {
        cursor: pointer;
        color: c(white);
    }
}

.overlay__prev {
    left: $spacing * -3;
    right: auto;

    &::after { content: '\f060'; }

    &:hover {
        transform: translate($spacing * -.5, -50%);
    }
}

.overlay__next {
    left: auto;
    right: $spacing *-3;

    &::after{ content: '\f061'; }

    &:hover {
        transform: translate($spacing * .5, -50%);
    }
}
