body.noscroll {
    overflow: hidden;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(c(black), .7);
    z-index: z(overlay);
    overflow-y: scroll;

    &.overlay--active {
       display: flex;
       justify-content: center;
    }
}

.overlay__inner {
    position: relative;
    flex: 1 1 100%;
    width: 100%;
    margin: auto;
    padding: $spacing;
    max-width: 600px;
    background: c(white);
}

.overlay__close {
    position: absolute;
    top: 0;
    right: 0;
    color: c(black);
    font-size: 1.4rem;
    padding: $spacing / 2;
    line-height: 1;

    &:before{
        font-family: f(icon);
        content: '\f057';
    }
}
