/**
 * Slick Slider
 *
 * Use the slick slider in modules to overwrite the styles listed in here.
 */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: c(transparent);
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus { outline: none; }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after { clear: both; }

    .slick-loading & { visibility: hidden; }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & { float: right; }
    img { display: block; }

    &.slick-loading img { display: none; }

    display: none;

    &:focus { outline: none; }
    &.dragging img { pointer-events: none; }
    .slick-initialized & { display: block; }
    .slick-loading & { visibility: hidden; }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    line-height: 1;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: $spacing;
    border: none;
    outline: none;
    z-index: z(default);

    &:hover,
    &:focus {
        outline: none;
        background: transparent;
        color: transparent;

        &:before { opacity: 1; }
    }

    &.slick-disabled:before {
        opacity: .8;
    }

    &:before {
        font-family: f(icon);
        font-size: 2rem;
        line-height: 2rem;
        color: c(black);
        opacity: 1;
    }
}

.slick-prev {
    left: 0;

    [dir="rtl"] & {
        left: auto;
        right: 0;
    }

    &:before {
        content: '\f104';

        [dir="rtl"] & {
            content: '\f105';
        }
    }
}

.slick-next {
    right: 0;

    [dir="rtl"] & {
        left: 0;
        right: auto;
    }

    &:before {
        content: '\f105';

        [dir="rtl"] & {
            content: '\f104';
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;

            &:hover,
            &:focus {
                outline: none;

                &:before { opacity: 1; }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '\f111';
                width: 20px;
                height: 20px;
                font-family: f(icon);
                font-size: 1rem;
                line-height: 20px;
                text-align: center;
                color: c(darkgrey);
                opacity: .8;
            }
        }
        &.slick-active button:before {
            color: $primary;
            opacity: 1;
        }
    }
}
