/*
---------------------------------------
Typography
---------------------------------------
*/

.big,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    display: block;
    margin: 0 0 $spacing;
    font-family: f(sans);
    font-weight: bold;
    line-height: 1.2;

    > a {
        color: inherit;
    }
}

p, .p {
    display: block;
    margin: 0 0 $spacing;
    font-family: f(sans);

    + h1,+ .h1,
    + h2,+ .h2,
    + h3,+ .h3,
    + h4,+ .h4,
    + h5,+ .h5,
    + h6,+ .h6 {
        margin-top: 2em;
    }
}

@mixin big {
    font-size: 1.6rem;
    @include bp(xs) { font-size: 1.7rem; }
    @include bp(sm) { font-size: 1.8rem; }
    @include bp(md) { font-size: 1.9rem; }
    @include bp(lg) { font-size: 2rem; }
}

@mixin h1 {
    font-size: 1.5rem;
    @include bp(xs) { font-size: 1.6rem; }
    @include bp(sm) { font-size: 1.7rem; }
    @include bp(md) { font-size: 1.8rem; }
}

@mixin h2 {
    font-size: 1.4rem;
    @include bp(xs) { font-size: 1.5rem; }
    @include bp(sm) { font-size: 1.6rem; }
    @include bp(md) { font-size: 1.7rem; }
}

@mixin h3 {
    font-size: 1.3rem;
    @include bp(xs) { font-size: 1.4rem; }
    @include bp(sm) { font-size: 1.5rem; }
    @include bp(md) { font-size: 1.6rem; }
}

@mixin h4 {
    font-size: 1.2rem;
    @include bp(xs) { font-size: 1.3rem; }
    @include bp(sm) { font-size: 1.4rem; }
    @include bp(md) { font-size: 1.5rem; }
}

@mixin h5 {
    font-size: 1.1rem;
    @include bp(xs) { font-size: 1.2rem; }
    @include bp(sm) { font-size: 1.3rem; }
    @include bp(md) { font-size: 1.4rem; }
}

@mixin h6 {
    font-size: 1rem;
    @include bp(xs) { font-size: 1.1rem; }
    @include bp(sm) { font-size: 1.2rem; }
    @include bp(md) { font-size: 1.3rem; }
}

@mixin p {
    font-size: 1rem;
    line-height: 1.45;
}

@mixin lead {
    font-size: 1.25rem;
}

.big    { @include big; }
h1, .h1 { @include h1; }
h2, .h2 { @include h2; }
h3, .h3 { @include h3; }
h4, .h4 { @include h4; }
h5, .h5 { @include h5; }
h6, .h6 { @include h6; }
p, .p   { @include p; }

.lead {
    @include lead;
    opacity: .7;
}

small, .small {
    font-size: .80%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    outline: 0;
    margin: $spacing 0;
    padding: 0;
    background: c(grey);
}

code {
    font-family: monospace;
    letter-spacing: 0;
    background: rgba(c(black), .1);
    padding: .3em .5em .2em;
    border-radius: 3px;
    font-weight: bold;

    &:hover {
        color: c(white);
        background: $primary;
    }
}

blockquote {

}

.more {
    display: inline-block;
    color: $primary;
    transition: all t(short);

    &::after {
        @include icon('\f105');
        display: inline-block;
        margin-left: .7em;
        transform: translateX(-.2em);
        transition: all t(short);
    }

    &:hover {
        color: $primary;

        &::after { transform: translate(0); }
    }
}
